<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta th:if="${contest.coming}" content="60" http-equiv="refresh" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Cache-Control" max-age="0" />
<meta name="description" content="Caribbean Online Judge (COJ)" />
<meta name="keywords"
	content="coj, caribbean, programming, contest, online, judge, problems" />
<meta name="robots" content="index, about" />
<meta http-equiv="X-Frame-Options" content="deny" />
<title th:text="#{title}"></title>
<link rel="shortcut icon" href="../../images/coj_favicon.png"
	th:href="@{/images/coj_favicon.png}" />
<link rel="stylesheet" href="../../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" type="text/css"
	media="screen" />
<link rel="stylesheet" href="../../css/custom.bootstrap.tooltip.css"
	th:href="@{/css/custom.bootstrap.tooltip.css}" type="text/css"
	media="screen" />
<link rel="stylesheet" href="../../css/fileinput.min.css"
	th:href="@{/css/fileinput.min.css}" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/style.css"
	th:href="@{/css/style.css}" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/datatable.css"
	th:href="@{/css/datatable.css}" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/main.css"
	th:href="@{/css/main.css}" type="text/css" media="screen" />
<link rel="stylesheet"
	href="../../css/ui-1.11.2/jquery-ui-1.11.2.min.css"
	th:href="@{/css/ui-1.11.2/jquery-ui-1.11.2.min.css}"
	type="text/css" media="screen" />
<script type="text/javascript" src="../../js/jquery.js"
	data-th-src="@{/js/jquery.js}"></script>
<script type="text/javascript"
	src="../../js/ui-1.11.2/jquery-ui-1.11.2.min.js"
	data-th-src="@{/js/ui-1.11.2/jquery-ui-1.11.2.min.js}"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"
	data-th-src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../../js/fileinput.min.js"
	data-th-src="@{/js/fileinput.min.js}"></script>
<script type="text/javascript" src="../../js/bootstrap-maxlength.min.js"
	data-th-src="@{/js/bootstrap-maxlength.min.js}"></script>
<script type="text/javascript" src="../../js/jquery.numeric.js"
	data-th-src="@{/js/jquery.numeric.js}"></script>
<script type="text/javascript" src="../../js/jquery.form.js"
	data-th-src="@{/js/jquery.form.js}"></script>
<script type="text/javascript" src="../../js/script.js"
	data-th-src="@{/js/script.js}"></script>
<script type="text/javascript" src="../../js/coj.js"
	data-th-src="@{/js/coj.js}"></script>
<!-- <script> -->
<!-- // 	$(document).ready(function() { -->
<%-- // window.i18nPleaseWait = "#{text.please.wait}"; --%>
<!-- // 	}); -->
<!-- </script> -->

<script type="text/javascript" src="../../js/displayTables.js"
	data-th-src="@{/js/displayTables.js}"></script>
<script type="text/javascript" src="../../js/countdown.js"
	data-th-src="@{/js/countdown.js}"></script>
</head>

<!-- <c:set var="idpage"> -->
<!-- 	<tiles:getAsString name="idpage" /> -->
<!-- </c:set> -->
<%-- <% --%>
<!-- // 	ServletContext context = request.getSession().getServletContext(); -->
<!-- // 	String idpage = (String) pageContext.getAttribute("idpage"); -->
<!-- // 	context.setAttribute("idpage", idpage); -->
<%-- %> --%>

<body>
	<div id="main">
		<div class="sheet">
			<div class="sheet-body">
				<tiles:insertAttribute name='header' />
				<div class="content-layout">
					<div class="content-layout-row">
						<tiles:insertAttribute name='sidebar' />
						<div class="layout-cell content">
							<div class="post">
								<div class="post-body">
									<div class="post-inner article">
										<div
											th:if="${contest != null and contest.initdate != null and (contest.past or contest.running or contest.coming)}"
											class="pull-right">
											<table class="contestlanguages" style="align: right">
												<tbody>
													<tr>
														<td><b th:text="|#{fieldhdr.status}:|"></b></td>
														<td><span th:if="${contest.running == true}"
															class="label label-success"
															th:text="#{ fieldhdr.running}"></span> <span
															th:if="${contest.coming == true}"
															class="label label-danger" th:text="#{fieldhdr.coming}"></span>
															<span th:if="${contest.past == true}"
															class="label label-default" th:text="#{fieldhdr.past}"></span>
														</td>
														<td th:if="${contest.running}"><b
															th:text="|#{fieldhdr.remaining}:|"></b></td>
														<td>
															<div class="countup"
																data-start-date="${contest.initdate.time}"
																data-end-date="${contest.enddate.time}"></div>
														</td>
														<td><b th:text="|#{fieldhdr.remaining}:|"></b></td>
														<td>
															<div class="countdown"
																data-date="${contest.enddate.time}"></div>
														</td>
														<td th:if="${contest.past or contest.coming}"><b><spring:message
																	code="fieldhdr.start" />:</b></td>
														<td><fmt:formatDate value="${contest.initdate}"
																pattern="yyyy-MM-dd HH:mm:ss" /></td>
														<td><b th:text="|#{fieldhdr.end}:|"></b></td>
														<td><fmt:formatDate value="${contest.enddate}"
																pattern="yyyy-MM-dd HH:mm:ss" /></td>
													</tr>
													<tr
														th:if="${contest.running == true && (contest.full_frozen == true || contest.frozen == true)}">
														<td colspan="6" style="text-align: right"><span
															th:if="${contest.full_frozen == true}"
															th:class="${contest.full_frozen == true} ? 'label label-danger' : 'label label-warning'"><i
																th:class="${contest.full_frozen == true} ? 'fa fa-danger' : 'fa fa-warning'"></i>&nbsp;<span
																th:text="${contest.full_frozen == true} ? #{text.deadtime} : #{text.frozentime}"></span>
														</span></td>
													</tr>
												</tbody>
											</table>
										</div>
										<br />
										<div class="clearfix"></div>
										<a id="header"></a>
										<tiles:insertAttribute name='content' />
										<div class="pull-right">
											<a href="#header" data-th-title="#{titval.top}"><i
												class="fa fa-toggle-up fa-lg"></i></a>
										</div>
										<div class="cleared"></div>
									</div>

									<div class="cleared"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cleared"></div>
				<div class="footer">
					<div class="footer-inner">
						<div class="footer-text">
							<tiles:insertAttribute name='footer' />
						</div>
					</div>
				</div>
				<div class="cleared"></div>
			</div>
		</div>
		<div class="cleared"></div>
	</div>


	<script>
		$(document).ready(function() {
			var server_time = $
			{
				now.time
			}
			;
			var time_access = (new Date().getTime());

			Countdown(server_time, time_access).countup;
			setInterval(Countdown(server_time, time_access).countup, 1000);

			Countdown(server_time, time_access).countdown;
			setInterval(Countdown(server_time, time_access).countdown, 1000);
		});
	</script>
</body>
</html>
