<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:security="http://www.springframework.org/schema/security"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd

		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd

		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

	


	<!-- ======================== AUTHENTICATION ======================= -->

	<security:filter-security-metadata-source
		id="securityMetadataSource" use-expressions="true">
		<security:intercept-url pattern="/practice/virtualstatistics.xhtml"
			access="permitAll" />
		<security:intercept-url pattern="/contest/csubmission.xhtml"
			access="isAuthenticated()" />
		<security:intercept-url pattern="/practice/globallist.xhtml"
			access="permitAll" />
		<security:intercept-url pattern="/contest/csubmit.xhtml"
			access="hasAnyRole('ROLE_USER','ROLE_TEAM')" />
		<security:intercept-url pattern="/user/updateaccount.xhtml"
			access="hasAnyRole('ROLE_USER','ROLE_TEAM')" />
		<security:intercept-url pattern="/user/forgottenpassword.xhtml"
			access="permitAll" />
		<security:intercept-url pattern="/24h/submission.xhtml"
			access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/24h/submit.xhtml"
			access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/admin/index.xhtml"
			access="hasAnyRole('ROLE_ADMIN','ROLE_ENTRIES_MANAGER','ROLE_PSETTER','ROLE_SUPER_PSETTER','ROLE_FILE_MANAGER')" />
		<security:intercept-url pattern="/admin/files/**"
			access="hasAnyRole('ROLE_ADMIN','ROLE_FILE_MANAGER')" />
		<security:intercept-url pattern="/admin/manageuser.xhtml"
			access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/addproblem.xhtml"
			access="hasAnyRole('ROLE_SUPER_PSETTER','ROLE_PSETTER','ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/adminproblems.xhtml"
			access="hasAnyRole('ROLE_SUPER_PSETTER','ROLE_PSETTER','ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/manageproblem.xhtml"
			access="hasAnyRole('ROLE_PSETTER','ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/manageclassifications.xhtml"
			access="hasAnyRole('ROLE_SUPER_PSETTER','ROLE_PSETTER','ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/addclassifications.xhtml"
			access="hasAnyRole('ROLE_SUPER_PSETTER','ROLE_PSETTER','ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/deleteclassifications.xhtml"
			access="hasAnyRole('ROLE_SUPER_PSETTER','ROLE_PSETTER','ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/updateclassifications.xhtml"
			access="hasAnyRole('ROLE_SUPER_PSETTER','ROLE_PSETTER','ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/manageproblemclassification.xhtml"
			access="hasAnyRole('ROLE_SUPER_PSETTER','ROLE_PSETTER','ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/uploadfile.xhtml"
			access="hasAnyRole('ROLE_SUPER_PSETTER','ROLE_EDITOR','ROLE_PSETTER','ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/**"
			access="hasAnyRole('ROLE_SUPER_PSETTER','ROLE_ADMIN','ROLE_PSETTER')" />
		<security:intercept-url pattern="/24h/translation.xhtml"
			access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/24h/**"
			access="permitAll" />
		<security:intercept-url pattern="/mail/**"
			access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/plagicoj/**"
			access="hasAnyRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/practice/**"
			access="hasAnyRole('ROLE_USER','ROLE_TEAM')" />
		<security:intercept-url pattern="/teamanalyzer/**"
								access="hasAnyRole('ROLE_ADMIN','ROLE_COACH')"/>
		<security:intercept-url pattern="/datagen/**"
			access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/contest/sendclarification.xhtml"
			access="hasAnyRole('ROLE_USER','ROLE_TEAM')" />
		<security:intercept-url pattern="/contest/clarification.xhtml"
			access="hasAnyRole('ROLE_USER','ROLE_TEAM')" />
		<security:intercept-url pattern="/schoolar/coursesboard.xhtml"
			access="permitAll" />
		<security:intercept-url pattern="/schoolar/**"
			access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/datasets/**"
			access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/**" access="permitAll" />
	</security:filter-security-metadata-source>

	
</beans>